In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import requests

In [462]:
#url = 'https://www.privateproperty.com.ng/property-for-rent'

In [463]:
#response = requests.get(url)

In [464]:
#response

In [465]:
#soup = BeautifulSoup(response.content, 'html.parser')

In [466]:
#page = soup.find(class_ = 'result-listings')

In [467]:
#apartments = page.find_all(class_ = 'similar-listings-info')

In [468]:
#pricing = soup.find_all(class_ = 'similar-listings-price')

In [469]:
rentals = {
    'title':[],
    'location':[],
    'description':[]
    
}

In [470]:
for i in range(0,105):
    url = f'https://www.privateproperty.com.ng/property-for-rent?page={i}'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    page = soup.find(class_ = 'result-listings')
    apartments = page.find_all(class_ = 'similar-listings-info')
   
    
    

    for apartment in apartments:
        description = apartment.find('a').text
        location = apartment.find('p', class_ = 'listings-location').text.strip()
        title = apartment.find('h3').text


        rentals['title'].append(title)
        rentals['location'].append(location)
        rentals['description'].append(description)



           #location = apartment.find('p', class_ = 'listings-location')
           #title_link = apartment.find('a')
           #title = title_link.get_text()
           #price = apartment.find(class_ ='col-md-4')

In [471]:
rent_df = pd.DataFrame(rentals)

In [472]:
#rent_df = rent_df.drop_duplicates()

In [473]:
rent_df

,title,location,description
0,1 BEDROOM MINI FLAT For Rent,65 Agungi Ajiran Road Agungi Lekki Lagos,Monthly Rental 1 Bedroom Flat
1,2 BEDROOM BLOCK OF FLATS FOR RENT,Lekki Right Lagos Lekki Phase 1 Lekki Lagos,2 Bedroom Apartment In Lekki Right
2,4 BEDROOM TERRACE FOR RENT,Lekki Phase 1 Right Lekki Phase 1 Lekki Lagos,Newly Built 4 Bedrooms Terrace Duplex With Pool
3,3 BEDROOM BLOCK OF FLATS FOR RENT,Old Ikoyi Old Ikoyi Ikoyi Lagos,Recently Renovated Premium 3 Bedroom Apartment...
4,4 BEDROOM TERRACE FOR RENT,Banana Island Estate Banana Island Ikoyi Lagos,Luxury 4 Bedroom Terrace House +2 Rooms Bq+ten...
...,...,...,...
2305,4 BEDROOM DUPLEX FOR RENT,Empire Homes Lekki Lagos,4 Bedroom Semi Detached House
2306,4 BEDROOM DUPLEX FOR RENT,Chevron Alternative Route. Chevron Drive Lekki...,4 Bedroom Semi Detached House With Bq
2307,2 BEDROOM FLAT & APARTMENT FOR RENT,"Bluewater Apartments, Lekki Right. Lekki Lagos",Luxury 2 Bedroom Flat On The 6th And 12th Floo...
2308,5 BEDROOM DUPLEX FOR RENT,Banana Island Ikoyi Lagos,Super Luxury 5 Bedrooms Fully Detached House
2309,3 BEDROOM DUPLEX FOR RENT,"Police Station Axis Ifako, Gbagada Lagos",Decent 3 Bedrooms Up Flat All Room Ensuite Wit...

In [474]:
prices = {
    'price' : [],
    'number of bedrooms' : [],
    'number of bathrooms': [],
    'number of toilets' : []
}

In [475]:
for i in range(0,105):
    url = f'https://www.privateproperty.com.ng/property-for-rent?page={i}'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    pricing = soup.find_all(class_ = 'similar-listings-price')
    
    for price in pricing:
        rent_price = price.find('span').find_next('span').text
        if '/year' in rent_price:
            rent_price = rent_price.replace("/year", "")
        number_of_bedrooms = price.find('li').text.strip()
        number_of_bathrooms = price.find('li').find_next('li').text.strip()
        number_of_toilets = price.find('li').find_next('li').find_next('li').text.strip()
        #rent_price.replace('/year','')
        #print(rent_price)

        prices['price'].append(rent_price)
        prices['number of bathrooms'].append(number_of_bathrooms)
        prices['number of bedrooms'].append(number_of_bedrooms)
        prices['number of toilets'].append(number_of_toilets)

In [476]:
rent_price = pd.DataFrame(prices)

In [477]:
rent_price = rent_price.rename(columns={'price':'price per year'})

In [478]:
rent_price.head()

  price per year number of bedrooms number of bathrooms number of toilets
0        400,000                                                        2
1      5,000,000                  2                   2                 3
2      9,000,000                  4                   4                 5
3     18,000,000                  3                   3                 4
4     22,000,000                  4                   4                 5

#rent_price['price per year'] = rent_price['price per year'].replace(to_replace= '/', value = '')

In [479]:
df =pd.concat([rent_df,rent_price], axis = 1,  ignore_index = False)

In [480]:
df

,title,location,description,price per year,number of bedrooms,number of bathrooms,number of toilets
0,1 BEDROOM MINI FLAT For Rent,65 Agungi Ajiran Road Agungi Lekki Lagos,Monthly Rental 1 Bedroom Flat,"400,000",,,2
1,2 BEDROOM BLOCK OF FLATS FOR RENT,Lekki Right Lagos Lekki Phase 1 Lekki Lagos,2 Bedroom Apartment In Lekki Right,"5,000,000",2,2,3
2,4 BEDROOM TERRACE FOR RENT,Lekki Phase 1 Right Lekki Phase 1 Lekki Lagos,Newly Built 4 Bedrooms Terrace Duplex With Pool,"9,000,000",4,4,5
3,3 BEDROOM BLOCK OF FLATS FOR RENT,Old Ikoyi Old Ikoyi Ikoyi Lagos,Recently Renovated Premium 3 Bedroom Apartment...,"18,000,000",3,3,4
4,4 BEDROOM TERRACE FOR RENT,Banana Island Estate Banana Island Ikoyi Lagos,Luxury 4 Bedroom Terrace House +2 Rooms Bq+ten...,"22,000,000",4,4,5
...,...,...,...,...,...,...,...
2305,4 BEDROOM DUPLEX FOR RENT,Empire Homes Lekki Lagos,4 Bedroom Semi Detached House,"6,500,000",4,4,5
2306,4 BEDROOM DUPLEX FOR RENT,Chevron Alternative Route. Chevron Drive Lekki...,4 Bedroom Semi Detached House With Bq,"5,000,000",4,5,5
2307,2 BEDROOM FLAT & APARTMENT FOR RENT,"Bluewater Apartments, Lekki Right. Lekki Lagos",Luxury 2 Bedroom Flat On The 6th And 12th Floo...,"7,000,000",2,3,3
2308,5 BEDROOM DUPLEX FOR RENT,Banana Island Ikoyi Lagos,Super Luxury 5 Bedrooms Fully Detached House,"150,000",5,5,6
2309,3 BEDROOM DUPLEX FOR RENT,"Police Station Axis Ifako, Gbagada Lagos",Decent 3 Bedrooms Up Flat All Room Ensuite Wit...,"2,000,000",3,3,4

In [4]:
df = pd.read_csv("Private Property Scraping.csv")

In [5]:
df

,title,location,description,price per year,number of bedrooms,number of bathrooms,number of toilets
0,1 BEDROOM MINI FLAT For Rent,65 Agungi Ajiran Road Agungi Lekki Lagos,Monthly Rental 1 Bedroom Flat,"400,000",NaN,NaN,2.0
1,2 BEDROOM BLOCK OF FLATS FOR RENT,Lekki Right Lagos Lekki Phase 1 Lekki Lagos,2 Bedroom Apartment In Lekki Right,"5,000,000",2.0,2.0,3.0
2,4 BEDROOM TERRACE FOR RENT,Lekki Phase 1 Right Lekki Phase 1 Lekki Lagos,Newly Built 4 Bedrooms Terrace Duplex With Pool,"9,000,000",4.0,4.0,5.0
3,3 BEDROOM BLOCK OF FLATS FOR RENT,Old Ikoyi Old Ikoyi Ikoyi Lagos,Recently Renovated Premium 3 Bedroom Apartment...,"18,000,000",3.0,3.0,4.0
4,4 BEDROOM TERRACE FOR RENT,Banana Island Estate Banana Island Ikoyi Lagos,Luxury 4 Bedroom Terrace House +2 Rooms Bq+ten...,"22,000,000",4.0,4.0,5.0
...,...,...,...,...,...,...,...
2305,4 BEDROOM DUPLEX FOR RENT,Empire Homes Lekki Lagos,4 Bedroom Semi Detached House,"6,500,000",4.0,4.0,5.0
2306,4 BEDROOM DUPLEX FOR RENT,Chevron Alternative Route. Chevron Drive Lekki...,4 Bedroom Semi Detached House With Bq,"5,000,000",4.0,5.0,5.0
2307,2 BEDROOM FLAT & APARTMENT FOR RENT,"Bluewater Apartments, Lekki Right. Lekki Lagos",Luxury 2 Bedroom Flat On The 6th And 12th Floo...,"7,000,000",2.0,3.0,3.0
2308,5 BEDROOM DUPLEX FOR RENT,Banana Island Ikoyi Lagos,Super Luxury 5 Bedrooms Fully Detached House,"150,000",5.0,5.0,6.0
2309,3 BEDROOM DUPLEX FOR RENT,"Police Station Axis Ifako, Gbagada Lagos",Decent 3 Bedrooms Up Flat All Room Ensuite Wit...,"2,000,000",3.0,3.0,4.0

In [18]:
df['number of bedrooms'].iloc[0] = 1

C:\Users\victo\AppData\Local\Temp\ipykernel_2468\1750009026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['number of bedrooms'].iloc[0] = 1

In [23]:
df

,title,location,description,price per year,number of bedrooms,number of bathrooms,number of toilets
0,1 BEDROOM MINI FLAT For Rent,65 Agungi Ajiran Road Agungi Lekki Lagos,Monthly Rental 1 Bedroom Flat,"400,000",1.0,1.0,2.0
1,2 BEDROOM BLOCK OF FLATS FOR RENT,Lekki Right Lagos Lekki Phase 1 Lekki Lagos,2 Bedroom Apartment In Lekki Right,"5,000,000",2.0,2.0,3.0
2,4 BEDROOM TERRACE FOR RENT,Lekki Phase 1 Right Lekki Phase 1 Lekki Lagos,Newly Built 4 Bedrooms Terrace Duplex With Pool,"9,000,000",4.0,4.0,5.0
3,3 BEDROOM BLOCK OF FLATS FOR RENT,Old Ikoyi Old Ikoyi Ikoyi Lagos,Recently Renovated Premium 3 Bedroom Apartment...,"18,000,000",3.0,3.0,4.0
4,4 BEDROOM TERRACE FOR RENT,Banana Island Estate Banana Island Ikoyi Lagos,Luxury 4 Bedroom Terrace House +2 Rooms Bq+ten...,"22,000,000",4.0,4.0,5.0
...,...,...,...,...,...,...,...
2305,4 BEDROOM DUPLEX FOR RENT,Empire Homes Lekki Lagos,4 Bedroom Semi Detached House,"6,500,000",4.0,4.0,5.0
2306,4 BEDROOM DUPLEX FOR RENT,Chevron Alternative Route. Chevron Drive Lekki...,4 Bedroom Semi Detached House With Bq,"5,000,000",4.0,5.0,5.0
2307,2 BEDROOM FLAT & APARTMENT FOR RENT,"Bluewater Apartments, Lekki Right. Lekki Lagos",Luxury 2 Bedroom Flat On The 6th And 12th Floo...,"7,000,000",2.0,3.0,3.0
2308,5 BEDROOM DUPLEX FOR RENT,Banana Island Ikoyi Lagos,Super Luxury 5 Bedrooms Fully Detached House,"150,000",5.0,5.0,6.0
2309,3 BEDROOM DUPLEX FOR RENT,"Police Station Axis Ifako, Gbagada Lagos",Decent 3 Bedrooms Up Flat All Room Ensuite Wit...,"2,000,000",3.0,3.0,4.0

In [21]:
df.to_csv('Private Property Scraping.csv', index = False)